
{% extends 'blog/base.html'%}

{% load static %}
{% block title %} Home | Blog{% endblock %}
{% block body %}

<div class="col-sm-10">
  <h1 class="text-white" style="text-align:center;">home page</h1>
  <!-- <p class="text-white" style="font-family: 'Courier New', Courier, monospace; margin-left: 50px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae tenetur est facilis esse repellendus corporis laboriosam! Saepe, corporis veniam, cum nesciunt impedit exercitationem consequuntur nihil nulla, alias blanditiis rem quia!</p> -->
  <div class="jumbotron jumbotron-fluid jumbo-color" style=" margin-left: 100px;">
    <div class="container">
      <h1 class="display-4">Fluid jumbotron</h1>
      <p class="lead">Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
        Dolorum quam adipisci facilis placeat, omnis et quod qui sint ea, culpa illum,
         in quae nihil tempora vel assumenda odit corrupti aliquid facere consequuntur. 
         Ullam sequi blanditiis labore harum maxime praesentium voluptatum rerum nostrum 
         asperiores quam numquam itaque non aperiam ea, adipisci delectus officiis iusto 
         officia, quos eligendi autem? Nesciunt nihil vel voluptatem delectus magnam culpa
          laboriosam, veniam natus sit, facilis cupiditate in voluptate accusantium vero?
           Quod repudiandae eos labore odit adipisci perspiciatis culpa excepturi, iure 
           accusamus aliquam enim a eaque dignissimos possimus et unde inventore placeat
            quasi sunt ducimus tenetur esse.</p>
    </div>
  </div>
</div>


{% endblock body %}