<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
  .nav-head{
    background-color:black;
    height: 50px;
    width: auto;
    
  }
  nav a{
    margin-left: 40px;
    text-decoration: none;
    color: white;
    font-size: 30px;
  }
  
  </style>
</head>
<body>
  
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark nav-head">
   
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="navbar-brand" href="/">Mini Blog</a>
        <a class="nav-item nav-link active" href="/">Home </a>
        <a class="nav-item nav-link" href="{% url 'about' %}">About</a>
        <a class="nav-item nav-link" href="{% url 'dashboard' %}">Dashboard</a>
        <a class="nav-item nav-link disabled" href="{% url 'contact' %}">Contact</a>
        <a class="nav-item nav-link" href="{% url 'Login' %}">Log In</a>
        <a class="nav-item nav-link" href="{% url 'Logout' %}">LogOut</a> 
        <a class="nav-item nav-link" href="{% url 'signup' %}">SignUp</a> 
      </div>
    </div>
  </nav>
</body>
</html>